@import './base.css';

#app {
  width: 100%;
  margin: auto;
  padding: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--vt-c-white);
  transition: 0.4s;
  padding: 3px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  #app {
    display: flex;
    /* Aplica un dise単o flexible al contenedor */
    flex-direction: column;
    /* Organiza los elementos en una columna */
    font-size: small;
    /* Reduce el tama単o de la fuente en pantallas peque単as */
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    /* Aplica un dise単o flexible al contenedor */
    flex-direction: column;
    /* Organiza los elementos en una columna */
    width: 95%;
    /* Limita el ancho del contenedor al 80% de la pantalla en dispositivos grandes */
  }
}